body, html {
    height: 100%;
    scroll-behavior: smooth;
    margin: 0px;
}

.achtergrond1 {
/* The image used */
background-image: url('bg1.png');

/* Full height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: relative;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.achtergrond2 {
border: 6rem solid;
border-color: rgb(224, 163, 64);

/* The image used */
background-image: url('bg2.png');

/* Full height */
height: 80%;

/* Create the parallax scrolling effect */
background-attachment: relative;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.achtergrond3 {
border: 8rem solid;
border-color: rgb(224, 163, 64);
/* The image used */
background-image: url('bg3.png');

/* Full height */
height: 80%;

/* Create the parallax scrolling effect */
background-attachment: relative; /* fixed */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}