body,html{
height: 100%;
}

h1{
color: white;
font-family:Fredoka system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#logo1{
background-image: url(Surfsidepoke-Logo-2.png);
width: 21.89%;
height: 13%;;
position: relative;
}

body, html{
height: 100%;
scroll-behavior: smooth;
margin: 0px;
}

#achtergrond1{
/* The image used */
background-image: url('bg1.png');

/* Full height */
height: 100%;

/* Background position */
background-attachment: relative;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.logo{
display: inline-block;
margin-left: 30%;
margin-right: auto;
margin-top: -5%;
width: 37%;
}

#achtergrond2{
border: 6rem solid;
border-color: rgb(224, 163, 64);

/* The image used */
background-image: url('bg2.png');

/* Full height */
height: 80%;

/* Background position */
background-attachment: relative;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#achtergrond3{
border: 8rem solid;
border-color: rgb(224, 163, 64);
/* The image used */
background-image: url('bg3.png');

/* Full height */
height: 80%;

/* Background position */
background-attachment: relative; /* fixed */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#menufood{
font-family:Fredoka system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
width: 300px;
height: 480px;
overflow-x: hidden;
overflow-y: auto;
text-align: center;
padding: 20px;
position: absolute;
top: 890px;
right: 1010px;
}

#menudrink{
color: white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-shadow: 20 20px black;
width: 300px;
height: 480px;
overflow-x: hidden;
overflow-y: auto;
text-align: center;
padding: 20px;
position: absolute;
top: 890px;
right: 260px;
}

#winkelmandjeId{
font-family:Fredoka system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
position: relative;
left: 150px;
right: 350px;
} 
#winkelmandjeId1{
 outline: none;
color: white;
background-color: rgb(19, 173, 35);
left: 150px;
right: 350px;
position: relative;
height: 40px;
border-width: 0px;
}
#winkelmandjeId1:hover{
transform: scale(1.2);
}
.row{
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
margin: 0 -16px;
}
  

.col-25{
-ms-flex: 25%; /* IE10 */
flex: 25%;
}
  
.col-50{
-ms-flex: 50%; /* IE10 */
flex: 50%;
}
  
.col-75{
-ms-flex: 75%; /* IE10 */
flex: 75%;
}
  
.col-25,
.col-50,
.col-75{
padding: 0 16px;
}
  
.container{
background-color:#E1B772 ;
padding: 5px 20px 15px 20px;
border-radius: 3px;
position: relative;
top: 100px;
width: 500px;
left: 350px;
}

span.price{
float: right;
color: white
}

hr{
border-color: white;
}

.container2{
width: 200px;
}
/*start checkout form*/
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    top: -600px;
    position: relative;
    width: 300px;
    left: 800px;
    
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  

