body,html{
  height: 100%;
}

h1{
  color: white;
  font-family:Fredoka system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Logo */
#logo1{
  background-image: url(Surfsidepoke-Logo-2.png);
  width: 21.89%;
  height: 13%;;
  position: relative;
}

body, html{
  height: 100%;
  scroll-behavior: smooth;
  margin: 0px;
}

/* English/French button */


/* Upper part of the website */
#achtergrond1{
/* The image used */
  background-image: url('bg1.png');

/* Full height */
  height: 100%;

/* Background position */
  background-attachment: relative;
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  display: inline-block;
  margin-left: 30%;
  margin-right: auto;
  margin-top: -5%;
  width: 37%;
}

/* Middle part of the website > where food/drinks are situated */
#achtergrond2{
  border: 6rem solid;
  border-color: rgb(224, 163, 64);

/* The image used */
  background-image: url('bg2.png');

/* Full height */
  height: 80%;

/* Background position */
  background-attachment: relative;
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Lower part of the website > shopping cart/checkout/payment area */
#achtergrond3{
  border: 8rem solid;
  border-color: rgb(224, 163, 64);
/* The image used */
  background-image: url('bg3.png');

/* Full height */
  height: 80%;

/* Background position */
  background-attachment: relative; /* fixed */
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Food area in middle part of the website */
#menufood{
  font-family:Fredoka system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  width: 300px;
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 895px;
  right: 1010px;
}

/* Drinks area in the middle part of the website */
#menudrink{
  color: white;
  font-family:Fredoka system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 20 20px black;
  width: 300px;
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 895px;
  right: 260px;
}

/* Shopping cart */
#winkelmandjeId{
  font-family:Fredoka system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  left: 150px;
  right: 350px;
} 

#winkelmandjeId1{
  outline: none;
  color: white;
  background-color: rgb(19, 173, 35);
  left: 150px;
  right: 350px;
  position: relative;
  height: 40px;
  border-width: 0px;
}

#winkelmandjeId1:hover{
  transform: scale(1.2);
}


span.price{
  float: right;
  color: white
}

hr{
  border-color: white;
}

.container2{
  width: 200px;
}

/* Compatibility */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  display: inline-block; 
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

/* Styling shopping cart area */
.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
  font-family:Fredoka system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  background-color:#E1B772;
  border-radius: 3px;
  width: 600px;
  position: relative;
  left: 500px;
  top:-200px;
}

input[type=text] {
  width: 30%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#fname{
  width: 20%;
}

#email{
  width: 30%;
}

#cname{
  width: 25%;
}

#ccnum{
  width: 25%;
}

#expmonth{
  width: 12%;
}

#cvv{
  width: 8%;
}

label {
  margin-bottom: 10px;
  display: inline-block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.button1{
  background-color: #45a049;
  width: 140px;
  height: 40px;
  position: relative;
  top: 20px;
  left: 160px;
  font-family: sans-serif;
  font-size: larger;
  color: white;
  border-radius: 30px;
  padding: 12px;
  margin: 10px 0;
  cursor: pointer;
} 

.button1:hover{
  background-color:  #45a049;
}

#insta{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: relative;
  top: 370px;
  left: -980px;
}
#thuisbezorgd{
  width: 40px;
  height: 40px;
  position: relative;
  top: 370px;
  left: -960px;
 border-radius:3px ;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
.content{
  top: -580px;
  left: 90%;
  position: relative;
}
body{
  overflow-x: hidden;
}
#gerechtentitle{
  position: absolute;
  top: 99%;
  right: 72%;
  font-size: xx-large;
  color: white;
  font-family: Fredoka system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
#drankentitle{
  position: absolute;
  top: 99%;
  right: 22%;
  font-size: xx-large;
  font-family:Fredoka system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  color: white;
}