body,html{
    height: 100%;
}

h1{
    color: white;
    font-family:Fredoka system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#logo1{
    background-image: url(Surfsidepoke-Logo-2.png);
    width: 21.89%;
    height: 13%;;
    position: relative;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
    margin: 0px;
}

.achtergrond1 {
/* The image used */
background-image: url('bg1.png');

/* Full height */
height: 100%;

/* Background position */
background-attachment: relative;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#logo {
display: inline-block;
margin-left: auto;
margin-right: auto;
width: 10%;
}

.achtergrond2 {
border: 6rem solid;
border-color: rgb(224, 163, 64);

/* The image used */
background-image: url('bg2.png');

/* Full height */
height: 80%;

/* Background position */
background-attachment: relative;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.achtergrond3 {
border: 8rem solid;
border-color: rgb(224, 163, 64);
/* The image used */
background-image: url('bg3.png');

/* Full height */
height: 80%;

/* Background position */
background-attachment: relative; /* fixed */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
